<app-headmsg 
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<app-start ></app-start>
<div class="container">
    <div class="first-pub">
        <app-pub-first></app-pub-first>
    </div>
    <div class="main-container">
        <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item>
        <div class="redaction-info">   
            <h1>Le Brevet de Technicien Supérieur (BTS) </h1> 
            <p>
                Vous souhaitez acquérir des compétences pratiques rapidement après votre Bac ?
                Vous êtes rigoureux et organisé ? Dans ce cas, il doit sûrement exister un BTS qui vous correspond !
            </p>       
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Qu'est ce qu'un BTS ?">
                    <p> 
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment intégrer un BTS ?">
                    <p>
                        
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Quel est le programme en BTS">
                    <p>
                       
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Que faire après un BTS ?">
                    <p>
                       
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment choisir le bon Institut de formation pour son BTS ?">
                    <p>
                        
                    </p>
                </p-accordionTab>
            </p-accordion>

            <p-card header="Liste des BTS" >
                <p-card></p-card>
            </p-card>
            
        </div>
    </div>
    <aside class="side-container">
        <app-side-info></app-side-info>
    </aside>
</div>
<!-- 
<app-info-redaction></app-info-redaction>
<app-interest-list></app-interest-list>
<app-interest-actualite></app-interest-actualite>
<app-interest-avis></app-interest-avis>
<app-interest-classification></app-interest-classification> 
-->

<app-under-building></app-under-building>
