<app-headmsg 
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<app-start ></app-start>
<div class="container">
    <div class="first-pub">
        <app-pub-first></app-pub-first>
    </div>
    <div class="main-container">
        <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item>
        <div class="redaction-info">   
            <h1>Le Brevet de Technicien Supérieur (BTS) </h1> 
            <p>
                Vous souhaitez acquérir des compétences pratiques rapidement après votre Bac ?
                Vous êtes rigoureux et organisé ? Dans ce cas, il doit sûrement exister un BTS qui vous correspond !
            </p>       
            <p-accordion [activeIndex]="0" [multiple]="true">
                <p-accordionTab header="Qu'est ce qu'un BTS ?">
                    <p>
                        Un Brevet de Technicien Supérieur est une formation accessible après le bac et qui 
                        s’organise généralement en deux  ans. Sous réserve de réussite à l’examen  final, 
                        le cursus débouche sur l’obtention d’un diplôme du même nom, reconnu par l’État. 
                    </p>
                    <p>
                        Le BTS se veut extrêmement professionnalisant et vise l’entrée  directe des diplômés dans la vie  active.
                         Le cursus forme des spécialistes d’un secteur d’activité ou d’une activité  professionnelle précise. 
                         Le secteur ou l’activité visée peut être le tourisme, l’informatique, le commerce, la comptabilité, 
                         la santé, la maintenance, la mécanique, les métiers de la mode, l’agriculture… La liste est longue ! 
                         En 2023, on dénombrait près de 90  sections de BTS, sans compter les options qui spécialisent  davantage. 
                         Il y en a pour toutes les vocations ! 
                    </p>

                    <hr>
                    <h3>Dans quel type d’établissement suivre un BTS ?</h3>
                    <p>
                        Au Cameroun, les BTS sont dispensés dans les Instituts Privés d'Enseignement Supérieur (IPES). On dénombre 
                        <b>environ 300 IPES</b> répartit dans tout l'étendu du térritoire :  
                    </p>
                    <ul>
                        <li><b>10</b> dans la Région de l'Adamaoua</li>
                        <li><b>95</b> dans la Région du Centre</li>
                        <li><b>5</b> dans la Région de l'Est</li>
                        <li><b>3</b> dans la Région de l'Extrème Nord </li>
                        <li><b>69</b> dans la Région du Littoral</li>
                        <li><b>5</b> dans la Région du Nord</li>
                        <li><b>27</b> dans la Région du Nord-Ouest</li>
                        <li><b>29</b> dans la Région de l'Ouset</li>
                        <li><b>7</b> dans la Région du Sud</li>
                        <li><b>34</b> dans la Région du Sud-Ouest</li>

                    </ul>

                    <hr>
                    <h3>Quelles sont les spécificités d’un BTS ?</h3>
                    <p>
                        Rendre les étudiants opérationnels dès leur sortie d’école, c’est l’objectif majeur d’un BTS. 
                        Un des ingrédients pour y parvenir est l’alternance ou les stages, omniprésents dans les BTS, 
                        toutes spécialités confondues. 
                    </p>
                    <p>
                        Les étudiants en BTS mettent donc rapidement un pied en milieu  professionnel, grâce à une <b>convention 
                        de stage</b>, un <b>contrat d’apprentissage</b> ou un <b>contrat de professionnalisation</b>. Si vous êtes issus d’un 
                        baccalauréat professionnel ou autre formation professionnelle, le monde de l’entreprise ne vous sera 
                        pas étranger. En revanche, il pourra s’agir d’un tout nouvel aspect, peut-être intimidant, mais 
                        formateur, pour les bacheliers généraux ou étudiants de licence générale, par exemple.
                    </p>
                    <p>
                        Une autre spécificité majeure d’un BTS est <b> le suivi et l’encadrement </b> dont bénéficient les étudiants. 
                        Sonia avait effectué une année en licence, à l’université, avant d’intégrer son BTS. C’est donc naturellement 
                        qu’elle compare les deux systèmes pédagogiques : <i> « Comparé à une licence, par exemple, un BTS impose un rythme 
                        et <b>un cadre très scolaire.</b> On est encadré comme dans un collège. Cet aspect peut représenter un inconvénient 
                        pour certains » </i>, explique-t-elle. <i> « Cependant, cela pousse à être assidu. À la fac, j’avais un sentiment de 
                        liberté certes, mais l’autonomie ne pousse pas toujours à être assidu. »</i>
                    </p>

                    <hr>
                    <h3>Quelle est la durée des études en BTS ?</h3>
                    <p>
                        Le programme d’un BTS est réparti sur <b> deux  années</b>. Cependant, en fonction du profil du candidat et de la 
                        spécialité du BTS visé, quelques exceptions peuvent avoir lieu.
                    </p>
                    <p>
                        Certains BTS dans des domaines comme la santé se font sur <b>trois ans</b>. C'est le cas par exemple du BTS sage femme, 
                        ou du BTS opticien lunetier. Cette durée de formation peut encore varier d'une école à l'autre.
                    </p>
                    <p>
                        Un BTS peut aussi durer moins longtemps que prévu : <b>un an</b>, grâce à une <b>entrée directe en deuxième année</b>. 
                        Ce cas de figure concerne les <b>étudiants</b> qui ont déjà un <b>niveau bac +2</b>, dans le domaine du BTS visé, au moment 
                        de leur candidature. Sont aussi concernés les <b>professionnels</b> justifiant <b>d’au moins trois ans d’expérience</b> dans 
                        le secteur du BTS prisé. Ce n’est pas tout : les étudiants qui ont <b>échoué à l’examen du BTS</b> peuvent retenter 
                        leur chance et effectuer une <b>nouvelle  deuxième année</b> du BTS qui leur tient à cœur.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment intégrer un BTS ?">
                    <p>
                        Les formations préparant à l’obtention d’un BTS sont ouvertes aux <b>étudiants</b> de la voie initiale et 
                        aux <b>professionnels</b> de la voie continue. Il existe alors plusieurs façons d’intégrer un BTS, 
                        via un <b>dossier de candidature</b>.
                    </p>
                    <hr>

                    <h3>Quel niveau d’études pour entrer en BTS ?</h3>
                    <p>
                        Les BTS sont des formations accessibles après avoir obtenu le diplôme du <b>baccalauréat</b> ou équivalent. 
                        Évidemment, selon la spécialité de BTS visée, certaines filières du bac sont plus attendues que d’autres et 
                        facilitent l’admission.
                    </p>
                    <p>
                        Certains étudiants, comme Sonia, font le choix de <b>se  réorienter vers un BTS</b>, après un bac +1  ou  plus, 
                        pour se  <b>professionnaliser rapidement</b>.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Quel est le programme en BTS">
                    <p>
                        Un BTS mêle <b>matières générales</b> et <b>matières professionnelles spécifiques</b>, au côté d’une <b>formation sur le terrain</b>, 
                        et <b>en entreprise</b>. Le but est que les étudiants puissent acquérir des compétences  générales d’élocution et de 
                        rédaction, mais surtout des savoir-faire techniques. Au menu ? <b>Cours magistraux</b> (CM), <b>travaux dirigés</b> (TD) et 
                        <b>travaux pratiques</b> (TP).
                    </p>
                    <p>
                        Le contenu  pédagogique d’un BTS suit un <b>référentiel officiel</b>. Il est conçu pour être conforme à la <b>réalité du 
                        marché et des métiers</b>, et donc aux attentes des recruteurs. Il est actualisé régulièrement.
                    </p>
                    <p>
                        Pour Sonia, ce mariage d’enseignements  généraux et professionnels, avec de l’alternance ou des stages, 
                        est efficace : <i>« Grâce à la théorie et la pratique, on  assimile  super  vite »</i>. 
                    </p>
                    <hr>

                    <h3>Quelles sont les matières d’un BTS ?</h3>
                    <p>
                        En  fonction des spécialités, les enseignements généraux de tronc commun peuvent être dispensés, tels que : 
                    </p>
                    <ul>
                        <li>Langue (Français ou Anglais) </li>
                        <li>Les Mathématiques</li>
                        <li>La physique-chimie</li>
                    </ul>
                    <p>
                        Ensuite, suivant la section de BTS, les matières  professionnelles varient. Elles correspondent toutes aux 
                        activités que sera susceptible de mener à bien le futur diplômé, une fois en  poste. 
                    </p>
                    <p>
                        Dans le cas d’un BTS  management  commercial  opérationnel (MCO), 
                        les étudiants suivent ces matières professionnelles, parmi d’autres  : 
                    </p>
                    <ul>
                        <li>Animation et dynamisation de l’offre commerciale</li>
                        <li>Management de l’équipe commerciale</li>
                    </ul>

                    <p>
                        Afin de rendre les étudiants toujours plus opérationnels, des <b>ateliers de professionnalisation</b>, 
                        des <b>stages</b> ou des <b>périodes en alternance</b> sont au programme. Les ateliers peuvent prendre plusieurs 
                        formes comme des discussions autour du projet professionnel de l’élève, ou alors, des interventions 
                        de professionnels, des jeux, etc. Les périodes de stages sont réparties sur les deux années de 
                        formation. L’alternance, de son côté, est également réalisée sur les deux ans.
                    </p>
                    <p>
                        <b>Ibrahim</b> a effectué un BTS  NDRC, comme <b>Sonia</b>. <i>« L’alternance est un des aspects qui m’a le plus attiré 
                        vers le BTS »</i>, confie-t-il. <i>«Avec les enseignements professionnels et l’alternance, j’avais réellement 
                        l’impression d’apprendre des choses  utiles et concrètes.»</i>
                    </p>
                    <hr>

                    <h3>Comment s’organise la validation des études ?</h3>
                    <p>
                        Un BTS est validé par un examen final. Les épreuves se déroulent entre mai et juin de la deuxième année.
                    </p>
                    <p>
                        Elles peuvent être écrites et orales et concernent à la fois les matières  générales et les matières  
                        professionnelles, propres à chaque section de BTS. Les épreuves s’étalent sur plusieurs jours et ont 
                        lieu dans des établissements scolaires ou centres d’examen.
                    </p>
                    <p>
                        Outre l’examen final, l’assimilation des connaissances est évaluée durant toute la durée du cursus, 
                        grâce à des évaluations, par exemple. D’ailleurs, les notes obtenues en première année déterminent le 
                        passage en deuxième année.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Que faire après un BTS ?">
                    <p>
                        Un BTS a pour objectif de rendre <b>l’insertion  professionnelle directe</b> de ses diplômés possible. 
                        Cependant, il permet aussi de <b>poursuivre</b> ses <b>études  supérieures</b>, et ce, jusqu’au <b>bac +5</b>, 
                        si c’est votre choix !
                    </p>
                    <p>
                        « <i>Je pense que le BTS est un bon choix d’orientation pour les étudiants  qui  ne  savent  pas 
                        encore s’ils veulent effectuer des <b>études  courtes</b> ou plutôt se lancer dans de <b>longues études</b></i> », assure Sonia. 
                        «<i> C’est un bon tremplin aussi bien pour la vie active que pour la poursuite en études supérieures. </i>»
                    </p>
                    <hr>

                    <h3>Quelles poursuites d’études après un BTS ?</h3>
                    <p>
                        Après un BTS, il est possible de s’orienter vers plusieurs types de cursus. <b>Se  spécialiser  davantage</b>, 
                        acquérir une <b>double  compétence</b>, intégrer le marché du travail avec un niveau de qualification  bac +2… 
                        Ce sont autant de raisons qui poussent les diplômés à poursuivre leurs études dans le même domaine ou 
                        un domaine voisin.
                    </p>
                    <hr>

                    <h3>Quels débouchés métiers après un BTS ?</h3>
                    <p>
                        Les BTS sont conçus pour correspondre aux attentes des recruteurs. Les diplômés ont alors de bonnes  
                        chances de trouver un emploi rapidement dans leur domaine.
                    </p>
                    <p>
                        Selon la spécialité du BTS, les métiers exercés ne seront pas les mêmes. Les diplômés peuvent effectuer 
                        des tâches d’encadrement, de suivi, d’animation et de conception. Ils collaborent avec le chef d’un 
                        service ou un ingénieur et peuvent évoluer à des postes de responsable, chef, directeur, etc.
                    </p>
                    <p>
                        Voici quelques exemples de métiers avec un BTS :
                    </p>
                    <ul>
                        <li>
                            Technicien supérieur <b>agricole</b>, technicien supérieur <b>hospitalier</b>, technicien supérieur en 
                            <b>informatique</b>, technicien supérieur en <b>génie civil</b>, technicien supérieur en <b>assurance</b>, 
                            technicien supérieur en <b>esthétique</b>, technicien supérieur en <b>audiovisuel</b>, technicien supérieur 
                            dans l’<b>industrie</b>, technicien supérieur dans l’<b>édition</b>, etc.
                        </li>
                        <li>
                            Assistant en <b>ressources humaines</b>, assistant d’<b>ingénieur</b>, assistant de <b>notaire</b>, assistant <b>import-export</b>, 
                            assistant <b>logistique</b>, assistant <b>comptable</b>, etc.
                        </li>
                        <li>
                            Chargé de <b>communication</b>, <b>diététicien</b>, responsable de chantier, 
                            <b>maître d’hôtel</b>, modéliste, <b>photographe</b>, etc.
                        </li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Comment choisir le bon Institut de formation pour son BTS ?">
                    <p>
                        Voici les 10 critères de choix des établissements que nous vous recommandons :
                    </p>
                    <ol>
                        <li><b>Les résultats :</b> De bons résultats sont sensés refléter la qualité des enseignements et le professionnalisme des enseignants</li>
                        <li><b>La notoriété :</b> L’école accueille-t-elle des étudiants aux qualités exceptionnelles ? Plusieurs écoles n’hésitent pas à souligner les performances lors de concours, </li>
                        <li><b>La référence :</b> Au delà de la simple publicité, la référence via les réseaux sociaux ou par le bouche-à-oreille, permet d'avoir un avis plus objectif sur un établissement.</li>
                        <li><b>Le standard : </b> En général, plus les standards sont élevés, plus les coûts de formation sont importants.</li>
                        <li><b>La sécurité :</b> Un campus sécurisé, des installations sécurisées, et même du personnel de sécurité.</li>
                        <li><b>La distance :</b> Elle joue un grand rôle dans les risques lié au transport, les coûts de déplacement ou de logement près du campus.</li>
                        <li><b>Le bilinguisme :</b> La connaissance des deux langues officielles Français et Anglais est un élément majeur pour l'insertion professionnelle ou la poursuite des études.</li>
                        <li><b>L'innovation :</b> Les meilleurs établissements sont dotés des équipements de technologie récente en informatique, en mécanique, en électronique, en analyse biomédicale...</li>
                        <li><b>Les partenariats :</b> Ce n'est pas un fait anodin si les écoles font de la coure aux autres institutions de grandes renommées. Offrir des enseignements de qualités innovantes c'est bien, mais aussi des perspectives d'avenir, c'est encore mieux.</li>
                        <li><b>Le choix de l'élève :</b>En effet, pour des raisons qui lui sont propre, un étudiant peut préférer une école plutôt qu'une autre. Ne pas tenir compte de cette préférence peut avoir des conséquences inattendues. </li>
                    </ol>
                </p-accordionTab>
            </p-accordion>

            <p-card header="Liste des BTS" >
                <p-card></p-card>
            </p-card>
            
        </div>
    </div>
    <aside class="side-container">
        <app-side-info></app-side-info>
    </aside>
</div>
<!-- 
<app-info-redaction></app-info-redaction>
<app-interest-list></app-interest-list>
<app-interest-actualite></app-interest-actualite>
<app-interest-avis></app-interest-avis>
<app-interest-classification></app-interest-classification> 
-->