.but {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
    .but{
        display: initial;
        width: auto;   
        margin: 5px;     
    }
}