<div class="orientTitle">
    <h2>
        Les Formations les plus recherchées
    </h2>
    <p-accordion [activeIndex]="0">
        <p-accordionTab  header="Quel BTS">
            <div class="bts">
                <p-dataView [value]="myBts" layout="grid" 
                [paginator]="true"
                [rows]="9"
                filterBy="name"
                >          
                    <ng-template let-bts pTemplate="gridItem" fxLayout.xs="column">
                        <div class="product-grid-item card">
                            {{bts.title}}
                        </div>
                    </ng-template>
                </p-dataView>      
            </div>
        </p-accordionTab>
        <p-accordionTab  header="Quel Licence">

        </p-accordionTab>
        <p-accordionTab  header="Quel Master">

        </p-accordionTab>
        <p-accordionTab  header="Les domainnes de formations">

        </p-accordionTab>
        <p-accordionTab  header="Les types d'établissement d'enseignement supérieur">

        </p-accordionTab>
        <p-accordionTab  header="Nos fiches métiers">

        </p-accordionTab>

    </p-accordion>
</div>
