@import '/node_modules/primeflex/primeflex.scss';

:host ::ng-deep {
    .product-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
    }
    
    .grid, .p-grid, .p-nogutter, .grid-nogutter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
    }
    
    .card {
        padding: 2rem;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        margin-bottom: 2rem;
    }
}
