<h2>Les Ecoles à la une </h2>
<p-card class="container">
    <div class="image_c">
        <img src="./../../../../assets/images/school/logo/istdi.png" alt="">
    </div>
    <div class="info_c">
        <p class="m-0">ISTDI</p>
        <p class="m-1">école des métiers industriels</p>
        <p class="m-2">Douala</p>
    </div>
</p-card>
<p-card >
    <div class="image_c">
        <img src="./../../../../assets/images/school/logo/issspam.png" alt="">
    </div>
    <div class="info_c">
        <p class="m-0">ISSSPAM</p>
        <p class="m-1">école des métiers de la santé</p>
        <p class="m-2">Yaoundé</p>
    </div>
</p-card>
<p-card >
    <div class="image_c">
        <img src="./../../../../assets/images/school/logo/ucac.png" alt="">
    </div>
    <div class="info_c">
        <p class="m-0">UCAC</p>
        <p class="m-1">Université privée</p>
        <p class="m-2">Yaoundé</p>
    </div>
</p-card>