
img{
    margin-bottom: 40px;
}
.phone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
@media screen and (min-width: 360px ){
    .large{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        
    }
}