<app-headmsg 
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<app-start ></app-start>
<div class="container">
    <div class="first-pub">
        <app-pub-first></app-pub-first>
    </div>
    <div class="main-container">
        <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item>
        <div class="redaction-info">   
            <h1>Le Certificat de Qualification Professionnelle (CQP)</h1> 
            <p>
                La formation professionnelle est l'acquisition de compétences par l'apprentissage des 
                métiers qui sont des spécialités harmonisées et homologuées par l'Etat. Cette formation 
                se fait dans un lieu appelé centre ou institut de formation professionnelle oû les apprenants 
                sont regroupés suivant les cours.
            </p>
            <p>
                Après une période d'apprentissage, en présentiel ou à distance, qui dure variablement quelques 
                heures, des mois, des années, on en sort généralement diplômé, certifié ou nanti d'un diplôme de 
                qualification (DQP) ou d'une certification (CQP)
            </p>      
            <p>
                les formation sont administrés aux apprenants soit en présentiel, soit à distance, les institutions 
                réconnues pour former doivent se voir octroyés des licences ou agrément gouvernementales pour 
                exercer. Ces institutions peuvent êtres des écoles, des centre de formation publics ou privés.
            </p> 
            <p>
                Au terme d'une formation dans un centre de Formation professionnelle, des diplômes professionnels DQP / CQP 
                émis par l'Etat du Camerounais, sont délivrés aux apprénants.
            </p>
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Quels sont les avantage d'un CQP ?">
                    <p> 
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Qui peut viser un CQP ?">
                    <p>
                        
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Le programme d'un CQP">
                    <p>
                       
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Que faire après son CQP ?">
                    <p>
                       
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment choisir le bon centre de formation pour un CQP ?">
                    <p>
                        
                    </p>
                </p-accordionTab>
            </p-accordion>

            <p-card header="Liste des CQP" >
                <p-card></p-card>
            </p-card>
            
        </div>
    </div>
    <aside class="side-container">
        <app-side-info></app-side-info>
    </aside>
</div>
<!-- 
<app-info-redaction></app-info-redaction>
<app-interest-list></app-interest-list>
<app-interest-actualite></app-interest-actualite>
<app-interest-avis></app-interest-avis>
<app-interest-classification></app-interest-classification> 
-->

<app-under-building></app-under-building>