<app-headmsg 
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<app-start ></app-start>
<div class="container">
    <div class="first-pub">
        <app-pub-first></app-pub-first>
    </div>
    <div class="main-container">
        <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item>
        <div class="redaction-info">   
            <h2>CQP</h2> 
            <p>
                Le Certificat de Qualification Professionnelle (CQP) est un certificat national. Il 
                atteste de l'acquisition d'une qualification et d'une reconnaissance professionnelle
                nationale dans un emploi propre à une branche professionnelle ou à un secteur.
            </p>       
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Quels sont les avantage d'un CQP ?">
                    <p> 
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Qui peut viser un CQP ?">
                    <p>
                        
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Le programme d'un CQP">
                    <p>
                       
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Que faire après son CQP ?">
                    <p>
                       
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment choisir le bon centre de formation pour un CQP ?">
                    <p>
                        
                    </p>
                </p-accordionTab>
            </p-accordion>

            <p-card header="Liste des CQP" >
                <p-card></p-card>
            </p-card>
            
        </div>
    </div>
    <aside class="side-container">
        <app-side-info></app-side-info>
    </aside>
</div>
<!-- 
<app-info-redaction></app-info-redaction>
<app-interest-list></app-interest-list>
<app-interest-actualite></app-interest-actualite>
<app-interest-avis></app-interest-avis>
<app-interest-classification></app-interest-classification> 
-->

<app-under-building></app-under-building>