<p>
    Les formations Camerounaises connaîssent aujourd’hui une forte 
diversification  des  filières  et  une  dispersion  géographique  des 
établissements.
</p>
<p>
    Avant de se lancer aujourd’hui dans les démarches d’inscription dans cette 
    multitude d’établissements, il est nécessaire au préalable pour les élèves, étudiants et demandeurs d'emploie de 
    déterminer leurs priorités de poursuite d’études. En effet, les filières de formation 
    sont nombreuses, avec chacune ses particularités. 
</p>
<p>
    La plate-forme Camerdiplome vise à assurer la diffusion 
    et la présentation des offres académiques nationales, afin d’amener les élèves, les 
    étudiants et toutes autres personnes qui souhaitent suivre un cursus académique, 
    à  mieux  s’orienter  dans  les  fi lières  correspondant  à  leur  profil  académique  et 
    aboutissant aux métiers en relation avec leurs projets professionnels et les réalités 
    du monde de l’emploi.
</p>
<p>
    Camerdiplome vous permet d’avoir une vision 
    globale  sur  les  caractéristiques  des  différentes  filières  d’études  (durée,  accès, 
    programme, conditions d’études, débouchés…), avec le calendrier des inscriptions.
</p>
<p>
    Au delà de l’information pratique que CamerDiplome apporte à travers un aperçu 
    du système d’Enseignement camerounais, notre équipe de Conseillers 
    d’Orientation sont à votre disposition pour répondre en cas de nécessité à l’essentiel 
    de vos interrogations.
</p>
<p>
    Nous travaillons actuellement sur la mise à disposition des avis émis par d'anciens étudiants 
    afin d'apporter à nos utilisateur une vision plus impartiale de la réputation des établissements 
    visibles sur notre plate-forme.
</p>
