a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo {
    width: 150px;
}

mat-toolbar{
    border-radius: 3px;
    justify-content: space-between;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.mat-icon-bt {
    float: right;
}

