.goto::after {
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .3em solid;
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo {
    width: 150px;
}

mat-toolbar{
    border-radius: 3px;
    justify-content: space-between;
    
}

.mat-toolbar-single-row {
    white-space: normal;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.mat-icon-bt {
    float: right;
}

:host ::ng-deep {
    .p-button-label{
        line-height: initial;
        font-weight: 400;
    
    }
    
    .p-button, .p-button-secondary, .p-button-outlined {
        padding: 5px;
        width: 150px;
        font-size: small;
        border-radius: 50px;
    }
    
}

