
<mat-toolbar color="">
    
    <span><a href="" routerLink="['']"  > <img src="../../../../assets/images/logo-no-background-right.svg" class="logo" alt="Camerdiplom"> </a></span>
    <span class="menu-spacer"></span>
    <button class="mat-icon-bt" mat-icon-button (click)="onToggleSidenav()" fxHide.gt-xs>
        <mat-icon>menu</mat-icon>
    </button>
        
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs >
            <button mat-button [matMenuTriggerFor]="diplomes" >Diplômes</button>
            <mat-menu #diplomes="matMenu" >         
                <a routerLink="info/diplomes" ><button mat-menu-item >Diplômes</button></a>
                <button routerLink="info/cap" mat-menu-item>CAP</button>
                <button routerLink="info/bacPro" mat-menu-item>Bac Technique</button>
                <button routerLink="info/prepa" mat-menu-item>Prépa</button>
                <button routerLink="info/bacPro" mat-menu-item>Brevet Pro</button>
                <button routerLink="info/bts" mat-menu-item>BTS / HND</button>
                <button routerLink="info/but" mat-menu-item>BUT</button>
                <button routerLink="info/bachelor" mat-menu-item>Bachelor</button>
                <button routerLink="info/licence" mat-menu-item>Licence</button>
                <button routerLink="info/licencePro" mat-menu-item>Licence Pro</button>
                <button routerLink="info/master" mat-menu-item>Master / Ingénieur</button>
            </mat-menu>
            <button routerLink="info/ecole" mat-button >Ècoles</button>
            <button mat-button [matMenuTriggerFor]="formation" >Formation</button>
            <mat-menu #formation="matMenu">
                <button mat-menu-item routerLink="info/filiere">Filière</button>
                <button mat-menu-item routerLink="info/metier">Métier</button>
            </mat-menu>
            <p-button routerLink="referencer" label="Référencer son établissement" styleClass="p-button-outlined p-button-secondary"></p-button>
        </div>
    
</mat-toolbar>
<!--
<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <button mat-button [matMenuTriggerFor]="diplomes" >Diplômes</button>
            <mat-menu #diplomes="matMenu">
                <button mat-menu-item>Diplomes</button>
                <button mat-menu-item>Bac Pro</button>
                <button mat-menu-item>CAP</button>
                <button mat-menu-item>BTS</button>
                <button mat-menu-item>Prépa</button>
                <button mat-menu-item>DUT</button>
                <button mat-menu-item>BUT</button>
                <button mat-menu-item>Bachelor</button>
                <button mat-menu-item>Licence</button>
                <button mat-menu-item>Licence Pro</button>
                <button mat-menu-item>Master</button>
            </mat-menu>
            <button mat-button >Ècoles</button>
            <button mat-button [matMenuTriggerFor]="formation" >Formation</button>
            <mat-menu #formation="matMenu">
                <button mat-menu-item>Domaine d'étude</button>
                <button mat-menu-item>Filière</button>
                <button mat-menu-item>Formation à distance</button>
                <button mat-menu-item>Métier</button>
            </mat-menu>
        </mat-nav-list>
    </mat-sidenav>

        <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
    
</mat-sidenav-container>

-->