<div class="cardBar">
    <p-progressBar [showValue]="false" [value]="40"></p-progressBar>
</div>
<h1>Dans quelle filière souhaitez-vous effectuer votre formation ?</h1>
<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<p-accordion [activeIndex]="-1" >
    <p-accordionTab header="Agricultue, Environnement" [selected]="true" [disabled]="agriLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:agri">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab> 
    
    <p-accordionTab header="Art, Culture, Design, Mode" [selected]="true" [disabled]="artLenght === 0" >
        <ng-container *ngFor="let field of domaine$ | async | domfilter:art">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab> 
    
    <p-accordionTab header="Bien-être, Beauté" [selected]="true" [disabled]="beaLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:beaute">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Commerce, management" [selected]="true" [disabled]="comLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:commerce">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Droit, Sc. Politiques" [selected]="true" [disabled]="droLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:droit">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Finance, comptabilité" [selected]="true" [disabled]="finLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:finance">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Fonction publique" [selected]="true" [disabled]="pubLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:public">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Hôtellerie, tourisme" [selected]="true" [disabled]="tourLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:tourisme">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Image, son, animation 2D/3D" [selected]="true" [disabled]="animLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:animation">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Informatique" [selected]="true" [disabled]="infoLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:informatique">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Ingénierie, Science" [selected]="true" [disabled]="ingLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:ingenierie">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Langues et Sc. humaines" [selected]="true" [disabled]="langLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:langue">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    
    <p-accordionTab header="Marketing, communication" [selected]="true" [disabled]="markLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:marketing">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
    <p-accordionTab header="Santé" [selected]="true" [disabled]="santLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:sante">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab> 
    
    <p-accordionTab header="Sport, social, animation" [selected]="true" [disabled]="sporLenght === 0">
        <ng-container *ngFor="let field of domaine$ | async | domfilter:sport">
            <button pButton pRipple type="button"
                    label={{field.nom_dom}} 
                    (click)="setfiled(field.nom_dom, field.branche_dom)">
            </button>
        </ng-container>
    </p-accordionTab>
</p-accordion >

<p-button class="buti" styleClass="p-button-outlined" (click)="setNiveau()" label="Je ne sais pas encore" ></p-button>
