<section class="player" fxFlex fxLayout="column">
    <div class="title">Et pour vous, on commence par quoi ? </div>
    <div class="player-forms" fxFlex fxLayout.gt-xs="row" fxLayoutAlign="space-evenly" fxLayout.xs="column" fxLayoutGap.xs="20px" >
      <a routerLink="orientation/start/degree"><button mat-raised-button color="accent">Trouver une Ecole</button></a> 
      <a routerLink="orientation/start/field"><button mat-raised-button color="accent">Choisir un domaine</button></a> 
      <a routerLink="orientation/start/city"><button mat-raised-button color="accent">Choisir la ville</button></a>
    </div>
</section>
