<div class="form-card">
    <form [formGroup]="newDiplome">   
        <div class="form-group">
            <label for="nom_dip">Nom du diplome</label>
            <input id="nom_dip" type="text" formControlName="nom_dip">
        </div>
        <div class="form-group">
            <label for="">Catégorie</label>
            <p-dropdown id="categorie_id" *ngIf="categorie$ | async as categories" [options]="categories" placeholder="select Catégorie" optionLabel="nom_cat" optionValue="id_cat" formControlName="categorie_id"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="niveau">Niveau</label>
            <input id="niveau" type="text" formControlName="niveau">
        </div>
        <div class="form-group">
            <label for="descriptif_dip">Descriptif</label>
            <p-editor formControlName="descriptif_dip" [style]="{'height':'320px'}"></p-editor>
            <!-- <p>Value: {{campersite.descriptif_camp||'empty'}}</p> -->
            <!-- <textarea id="descriptif_camp" type="text" [placeholder]="campersite.descriptif_camp" formControlName="descriptif_camp"></textarea> -->
        </div>
        <div class="action-buttons">
            <p-button type="submit" styleClass="p-button-success" (click)="onSubmitForm()">Enregistrer</p-button>
            <p-button styleClass="p-button-danger" (click)="onReturn()">Annuler</p-button>
        </div>
    </form>
</div>