<div class="cardBar">
    <p-progressBar [showValue]="false" [value]="70"></p-progressBar>
</div>
<h1>Dans quelle ville souhaitez-vous suivre votre formation ?</h1>
<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<div >
    <div class="container">
        <button class="but" pButton pRipple  
                            *ngFor="let cyti of cyties$ |async " 
                            type="button" 
                            [label]="cyti.ville_cam"
                            (click)="setCyti(cyti.ville_cam)"></button>
    </div>
</div>

<p-button class="buti" label="Cameroun entier" styleClass="p-button-outlined" (click)="setNiveau()"></p-button>