<div fxFlex fxLayout="column">
    <h2>Quel diplôme souhaitez-vous préparer ?</h2>
    <p-accordion>
        <p-accordionTab header="CAP ou équivalent" [selected]="true" >
            <div fxLayoutGap="20px">
                <button pButton pRipple type="button" >
                    HI<br>
                    <small class="line-2">HELLO</small>
                </button>
                <p-button type="button" label="CAP" (click)="setDegree('CAP')" badge="Certificat d'Aptitude Professionnel" ></p-button>
                <button pButton pRipple type="button" label="Bac pro"></button>
                <button pButton pRipple type="button" label="CAP" badge="55"></button>
            </div>

        </p-accordionTab>
        <p-accordionTab header="Bac+1 à Bac+2" [selected]="true">

        </p-accordionTab>
        <p-accordionTab header="Bac+3" [selected]="true">

        </p-accordionTab>
        <p-accordionTab header="Bac+4 à Bac+5" [selected]="true">

        </p-accordionTab>
        <p-accordionTab header="Bac+6 et plus" [selected]="true">

        </p-accordionTab>
        <p-accordionTab header="Autres" [selected]="true">

        </p-accordionTab>
    </p-accordion>
</div>