<mat-card>
    <ng-container *ngIf="campus$ | async as campus">
      <div class="employee-info">
        <h1>{{ campus.id_camp }} </h1>
        <h2 [innerHTML]="campus.nom_camp"></h2>
        <h3> <strong>Ville :</strong>  {{ campus.ville_cam }}</h3>
        <h3><strong>Principal : </strong>{{ campus.principal_camp }}</h3>
        <h3><strong>Descriptif :</strong> </h3> <span [innerHTML]="campus.descriptif_camp"></span>
        <h3><strong>Longitude :</strong> {{ campus.lon_camp }}</h3>
        <h3><strong>Latitude :</strong> {{ campus.lat_camp }}</h3>
      </div>
    </ng-container>
    <mat-card-actions>
      <mat-spinner *ngIf="loading$ | async; else buttons"></mat-spinner>
      <ng-template #buttons>
        <div class="action-buttons">
          <button mat-flat-button color="accent" (click)="onModif()">MODIFIER</button>
          <button mat-flat-button color="warn" (click)="onDelet()">SUPRIMER</button>
          <button mat-flat-button color="primary" (click)="onGoBack()">RETOUR</button>
        </div>
      </ng-template>
    </mat-card-actions>
  </mat-card>