mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    color: inherit;
}

mat-sidenav {
    width: 250px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}

