<div class="card">
    <h2>Liste des Université  
        <button pButton type="button" label="Ajouter une Ecole" class="p-button-success" (click)="onAddEcol()"></button>
    </h2>
    <ng-container *ngIf="ecoles$ | async as data">
        <mat-spinner *ngIf="loading$ | async"></mat-spinner>
        <p-table [value]="data" [tableStyle]="{'min-width': '30rem'}" 
                selectionMode="single" dataKey="code" (onRowSelect)="onRowSelect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id_ecol" style="width:5%">Code <p-sortIcon field="id_ecol"></p-sortIcon></th>
                    <th pSortableColumn="sigle_e" style="width:10%">Sigle <p-sortIcon field="sigle_e"></p-sortIcon></th>
                    <th pSortableColumn="nom_e" style="width:20%">Name <p-sortIcon field="nom_e"></p-sortIcon></th>
                    <th pSortableColumn="date_creation" style="width:20%">Creation <p-sortIcon field="date_creation"></p-sortIcon></th>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="body" let-ecole>
                
                <tr [pSelectableRow]="ecole">
                    <td>{{ecole.id_ecol}}</td>
                    <td>{{ecole.sigle_e}}</td>
                    <td>{{ecole.nom_e}}</td>
                    <td>{{ecole.date_creation}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>
