<app-headmsg 
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<app-start ></app-start>
<div class="container">
    <div class="first-pub">
        <app-pub-first></app-pub-first>
    </div>
    <div class="main-container">
        <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item>
        <div class="redaction-info">   
            <h1>Licence Professionnelle </h1> 
            <p>
                Avec une année d'étude supplémentaire, les licences professionnelles permettent aux titulaires d'un 
                Bac+2 d'acquérir une spécialisation supplémentaire ou d'affiner leur cursus avant d'intégrer le 
                marché du travail. Diplôme national professionnalisant, il est très apprécié par les employeurs. 
                Vous souhaitez poursuivre dans l'enseignement supérieur après votre bac+2 ? Voici tout ce qu'il 
                faut savoir sur la licence professionnelle au Cameroun!
            </p>       
            <p-accordion [activeIndex]="0" [multiple]="true">
                <p-accordionTab header="Qu'est ce qu'une licence pro ?">
                    <p> 
                        Mises en place en partenariat avec les entreprises, les LP (Licences Professionnelles) sont des diplômes 
                        universitaires de niveau bac+3 reconnus par l’État. Si elle est très appréciée par les étudiants qui y 
                        voient la possibilité de se professionnaliser davantage, les recruteurs sont également très friands des 
                        licences professionnelles.
                    </p>
                    <p>
                        L’objectif de ce diplôme universitaire est d’apporter aux étudiants des compétences supplémentaires, 
                        plus précises, et toujours <b>en accord avec l’évolution du marché</b>. Le programme est en effet axé sur le 
                        <b>monde professionnel</b> pour répondre au mieux aux demandes des entreprises. Les licences pros s’inscrivent 
                        parfaitement dans la continuité d’un <b>DUT</b>, ou d’un <b>BTS</b>.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Les spécialisations de licence pro">
                    <p> 
                        Au Cameroun, on dénombre plus de 500 licences professionnelles liées aux différentes branches d’activité. 
                        Voici la liste d’exemples de licences pros qu’il est possible de suivre dans les Instituts Universitaires 
                        et Technologiques, à l’université, dans des écoles spécialisées, des IPES :
                    </p>
                    <ul>
                        <li>licence pro art</li>
                        <li>licence pro assurance</li>
                        <li>licence pro agronomie</li>
                        <li>licence pro multimédia</li>
                        <li>licence pro design</li>
                        <li>licence pro communication</li>
                        <li>licence pro informatique</li>
                        <li>licence pro journalisme</li>
                        <li>licence pro management</li>
                        <li>licence pro comptabilité</li>
                        <li>licence pro banque, finance</li>
                        <li>licence pro tourisme </li>
                        <li>licence pro marketing</li>
                        <li>licence pro mécanique</li>
                        <li>licence pro vente</li>
                        <li>licence pro logistique</li>
                        <li>licence pro ressources humaines</li>
                        <li>licence pro mine</li>
                        <li>licence pro géophysique</li>
                        <li>licence pro soins infirmier</li>
                        <li>etc.</li>
                    </ul>
                    <p>
                        Ceci est une liste non exhaustive des licences pros existantes. Il est donc certain 
                        que vous trouverez une licence professionnelle en lien avec votre <b>projet professionnel </b>!
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Programme en licence pro ">
                    <p>
                        L’offre de formation de la licence pro est très riche. Le programme en licence professionnelle 
                        s’articule autour d’enseignements théoriques et pratiques, de cours magistraux et de travaux dirigés. 
                        De nombreux intervenants, enseignants-chercheurs et professionnels, viennent animer des conférences 
                        (environ 30 % des cours) ou des ateliers, permettant aux étudiants d’être constamment en contact avec 
                        l’univers professionnel.
                    </p>
                    <p>
                        les stages sont très importants et viennent généralement clôturer la formation. Il sera demandé aux étudiants 
                        d’effectuer <b>entre 8 et 12 semaines en entreprise</b>, dans le cas où ils ne sont pas en alternance. Le stage en 
                        entreprise peut avoir l’ambition d’une future embauche. 
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment intégrer une licence pro ?">
                    <p>
                        L’inscription est ouverte aux titulaires d’un Bac+2. Ainsi, les étudiants peuvent être issus :
                    </p>
                    <ul>
                        <li>d’un BTS (Brevet de Technicien Supérieur)</li>
                        <li>d'un HND </li>
                        <li>d’un DUT (Diplôme Universitaire de Technologie)</li>
                        <li>d’une deuxième année de licence</li>
                        <li>d’une deuxième année de bachelor</li>
                    </ul>
                    <p>
                        Il est tout de même nécessaire de justifier d’un diplôme dans un domaine comparable. L’admission 
                        se fait sur dossier de candidature, entretien de motivationet parfois même sur tests d’admission. 
                        En effet, la sélection y est rude, ce qui s’explique notamment par le nombre de places limitées. 
                    </p>
                    <p>
                        À noter que les étudiants sont très encadrés et que la présence en cours est obligatoire. Les 
                        licences pros ouvrent leurs portes aux étudiants étrangers, ce qui ne fait que rendre plus 
                        intéressante la vie étudiante. 
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Que faire après une licence pro ?">
                    <p>
                        La validation des études se fait généralement sur la base du contrôle continu, même s’il peut 
                        parfois y avoir un examen final en supplément. 
                    </p>
                    <p>
                        La majorité des diplômés ont une chance d'intégrer directement le milieu professionnel après une licence 
                        professionnelle. Quel que soit votre domaine 
                        de formation, les débouchés après une licence pro sont nombreux.
                    </p>
                    <p>
                        Néanmoins certains peuvent choisir de poursuivre leurs études supérieures, notamment avec un master ou 
                        un master professionnel. Il est par ailleurs possible d’intégrer une deuxième licence professionnelle 
                        dans le but de se spécialiser et d’obtenir une double compétence.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment choisir une licence pro qui me correspond ?">
                    <p>
                        il faut choisir sa licence en fonction de l’avenir professionnel que l’on souhaite et de sa personnalité. 
                        Nul besoin de se tourner vers un domaine qui ne nous convient pas. Pour se faire, voici quelques astuces 
                        pour bien faire son choix :
                    </p>
                    <ul>
                        <li><b>Visualiser les débouchés :</b> au moment de choisir sa licence, on pense bien entendu à un métier en 
                            particulier. Il faut donc bien voir quels sont les débouchés et les taux d’insertion.</li>
                        <li>
                            <b>Voir la durée des études :</b> il faut bien choisir sa licence, car lorsqu’on s’engage à faire des études, 
                            on va y passer du temps.
                        </li>
                        <li>
                            <b>Évaluer le coût de la formation :</b> ne perdez pas votre temps dans une licence de commerce si vous voulez 
                            faire du droit. Vous allez juste perdre de l’argent.
                        </li>
                        <li>
                            <b>Compter sur ses goûts :</b> un étudiant qui choisit sa filière en fonction de ce qui l’intéresse sera plus 
                            investi dans ce qu’il fera et sera plus enclin à réussir.
                        </li>
                        <li>
                            <b></b>Penser à sa manière de travailler : il est important de choisir un domaine passionnant. Car à l’université, 
                            les profs n’ont pas le temps de se focaliser sur un étudiant. Il faut donc de la rigueur, de l’autonomie 
                            et de la passion.
                        </li>
                    </ul>
                </p-accordionTab>
            </p-accordion>

            <p-card header="Liste des Licences Pro au Cameroun" >
                <p-card></p-card>
            </p-card>
            
        </div>
    </div>
    <aside class="side-container">
        <app-side-info></app-side-info>
    </aside>
</div>
<!-- 
<app-info-redaction></app-info-redaction>
<app-interest-list></app-interest-list>
<app-interest-actualite></app-interest-actualite>
<app-interest-avis></app-interest-avis>
<app-interest-classification></app-interest-classification>
 -->
