

<div class="card">
    <h2>Liste des formations</h2>
    <ng-container *ngIf="formations$ | async as data">
        <mat-spinner *ngIf="loading$ | async"></mat-spinner>
        <p-table [value]="data" [tableStyle]="{'min-width': '50rem'}" 
                selectionMode="single" dataKey="code" (onRowSelect)="onRowSelect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id" style="width:7%">Code <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="nom_f" style="width:20%">Name <p-sortIcon field="nom_f"></p-sortIcon></th>
                    <th pSortableColumn="categorie" style="width:20%">Category <p-sortIcon field="categorie"></p-sortIcon></th>
                    <th pSortableColumn="universite" style="width:20%">Université <p-sortIcon field="universite"></p-sortIcon></th>
                    <th pSortableColumn="campus" style="width:20%">Campus <p-sortIcon field="campus"></p-sortIcon></th>
                    <th pSortableColumn="ville" style="width:20%">Ville <p-sortIcon field="ville"></p-sortIcon></th>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="body" let-formation>
                
                <tr [pSelectableRow]="formation">
                    <td>{{formation.id}}</td>
                    <td>{{formation.nom_f}}</td>
                    <td>{{formation.categorie}}</td>
                    <td>{{formation.universite}}</td>
                    <td>{{formation.campus}}</td>
                    <td>{{formation.ville}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>
