.form-card {
    box-sizing: border-box;
    width: 80%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
  }
  
  .form-group {
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  input, textarea, p-editor {
    width: 80%;
    
  }

  p-dropdownx {
    width: inherit;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }
  .action-buttons {
    margin-left: 33%;
    width: 100%;
  }
  
  p-button {
    margin-right: 20px;
  }