<div class="content" fxLayout.xs="column">
    <div class="box1">
        <img src="./../assets/images/josh.jpg">
        <p>
        The Himalayas is a mountain range in Asia.
        </p>
    </div>
    <div class="box2">
        <img  src="./../assets/images/josh.jpg">
        <p>
        The Himalayas is a mountain range in Asia.
        </p>
    </div>
    <div class="box3">
        <img  src="./../assets/images/josh.jpg">
        <p>
        The Himalayas is a mountain range in Asia.
        </p>
    </div>                    
    <div class="box4">
        <img src="./../assets/images/josh.jpg">
        <p>
        The Himalayas is a mountain range in Asia.
        </p>
    </div>
</div>