<div class="container">
    <div class="h2">
       Explorez les plus beaux campus du Cameroun   
    </div>
    <ul >
        <li class="item1">
            <div class="ilustra" (click)="showOnePage('SEAS')">
                <img src="./../../../../assets/images/school/UCAC-ICY-Slider-013.jpg">
                <div class="logo">
                    <img src="./../../../../assets/images/school/logo/logo-ucac-icy.png" style="background-color: #393838d1;">
                </div>
            </div>
            <div class="ets">
                <h3>Yaoundé</h3>
                <h4>UCAC</h4>
            </div>
        </li>
        <li class="item2">
            <div class="ilustra" (click)="showOnePage('SEAS')">
                <img src="./../../../../assets/images/school/SEAS.jpg">
                <div class="logo">
                    <img src="./../../../../assets/images/school/logo/seas.png" style="background-color: #e9e9e9c7;">
                </div>
            </div>
            <div class="ets">
                <h3>Douala</h3>
                <h4>SEAS</h4>
            </div>
        </li>
        <li class="item3">
            <div class="ilustra" (click)="showOnePage('SEAS')">
                <img src="./../../../../assets/images/school/ISSTY_01.jpg">
                <div class="logo">
                    <img src="./../../../../assets/images/school/logo/logo_issty_une.jpg" style="background-color: #e9e9e9c7;">
                </div>
            </div>
            <div class="ets">
                <h3>Yaoundé</h3>
                <h4>ISSTY</h4>
            </div>
        </li>
        <li class="item4">
            <div class="ilustra" (click)="showOnePage('SEAS')">
                <img src="./../../../../assets/images/school/EGEM.jpg" >
                <div class="logo">
                    <img src="./../../../../assets/images/school/logo/EGEM-1.jpg" style="background-color: #e9e9e9c7;">
                </div>
            </div>
            <div class="ets">
                <h3>Meiganga</h3>
                <h4>EGEM</h4>
            </div>
        </li>
    </ul>
</div>