//@import url('https://fonts.googleapis.com/css?family=Plus Jakarta Sans');

.steps, .promise {
    padding-bottom: 34px;
    padding-top: 64px;
}

.box{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 1e-9px;
    padding-bottom: 120px;
}

.inbox {
    position: relative;
}

.orientTitle {
    h2{
        text-align: center;
        font-family: PlusJakartaSans-Bold,Plus Jakarta Sans Bold,Plus Jakarta Sans,sans-serif;
        font-weight: 500;
        font-size: 1.9em;
    }
}
.inboxImage {
    box-sizing: border-box;
    position: relative;
    padding: 3px 3px;
    padding-top: 120px;
  
    img {
        display: block;
        aspect-ratio : 1 / 1;
        width: 100%;
        object-fit: cover;
        margin: 0px;
        border-radius: 30px;
    }
}

.first {
    padding-top: 0px;
}


.inboxText {
    position: absolute;
    text-align: center;
    width:100%;
    display: flex;
    justify-content: center;
    h3{
        font-family: PlusJakartaSans-Medium,Plus Jakarta Sans Medium,Plus Jakarta Sans,sans-serif;;
        background: #ffffffc7;
        margin-left: auto;
        margin-right: auto;
        width: 60px;
        height: 58px;
        font-size: 1.9em;
        border-radius: 53px;
        padding-top: 13px;
        position: inherit;
        margin-bottom: 0;
        position: absolute;
        top: -75px;
    }
    h5{
        font-size: x-large;
        z-index: 2;
    }
    h4 {
        font-family: PlusJakartaSans-Medium,Plus Jakarta Sans Medium,Plus Jakarta Sans,sans-serif;;
        text-align: center;
        color: hwb(0deg 38% 62%);
        font-weight: 100;
        background: #ffffffc7;
        margin-left: auto;
        margin-right: auto;
        //width: 60px;
        height: 60px;
        font-size: 1em;
        border-top-left-radius: 38px;
        border-top-right-radius: 38px;
        padding-top: 28px;
        position: inherit;
        margin-bottom: 0;
        line-height: 1.2;
        
    }
    .dolle {
        font-family: PlusJakartaSans-Bold,Plus Jakarta Sans Bold,Plus Jakarta Sans,sans-serif;
        color: #ff5e00; 
        font-size: 1.1rem; 
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.title {
    text-align: center;
}

.trouver {
    text-align: center;
    button {
        background-color: #FB806F;
        color: #fff;
    }
}

.statContent{
    img {
        width: 100%;
    }
    svg{
        color: #fff;
        flex-shrink: 0;
        margin-right: 5px;
        width: 32px;
        height: 32px;
    }
    ul {
        padding-left: 0;
    }
    li{
        margin-bottom: 24px;
    }
}

.banner-stat {
    padding-bottom: 34px;
    padding-top: 34px;  
}

.banner-stat ::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;
    //height: 100%;
    background-color: #30017E;
}

.banner-stat {
    position: relative;
    color: #ffffff;
}

.promise{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 1e-9px;
    padding-bottom: 145px;

    .promiseBox{
        flex-direction: column;
        box-sizing: border-box;
        display: flex;

        .inbox{

            .inboxImage{
                padding-top: 180px;
            }
            .first {
                padding-top: 0px;
                img {
                    aspect-ratio: unset;
                }
            }
            .inboxText{
                flex-direction: column;
                h4 {
                    font-family: inherit;
                    top: -63px;
                    left: 3px;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 50px;
                    padding-right: 21px;
                    padding-left: 20px;
                    font-size: 1.2em;
                }
            }
        }
    }
}

.actualite-btn{
    padding-bottom: 30px;
    text-align:center;
    button {
        background-color: #FB806F;
        color: #fff;
    }
}
@media screen and (min-width: 400px ) {
    .promise{
        
        .promiseBox{
            .inbox{

                .inboxImage{
                    padding-top: 140px;
                }
                .first{
                    padding-top:0;
                }
            }
        }
    }

}

@media screen and (min-width: 600px) {
    .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .inbox {

            .inboxText{
                
            }
            .inboxImage{
                padding-top:0px;
            }
        }

    }

    .promise{
        
        .promiseBox{
            flex-direction: row;
            box-sizing: border-box;
            display: flex;

            .inbox{
                flex-grow: 1;
                flex-basis: 0;
                min-width: 0;
                padding-left: 20px;
                padding-right: 20px;
                .inboxImage{
                    padding-top: 0px;
                    img {
                        aspect-ratio: 1/1;
                    }
                }
                .inboxText {
                    padding-left: 0px;
                    padding-right: 36px;
                }
            }
        }
    }
}

