button {
    margin-bottom: .5rem;
    margin-right: .5rem;
    width: 100%;
   // display: block;
}

.buti {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}
:host ::ng-deep {
    .buti{
        .p-button {
            width: 100%;
        }
    }
}

.cardBar {
    padding-bottom: 20px;
}


@media screen and (min-width: 600px) {
    .p-button {
        display: initial;
        width: auto;   
        margin: 5px;     
    }
}

