<app-headmsg 
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<app-start ></app-start>
<div class="container">
    <div class="first-pub">
        <app-pub-first></app-pub-first>
    </div>
    <div class="main-container">
        <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item>
        <div class="redaction-info">   
            <h1>The Bachelor's Degree Program </h1> 
            <p>
                The Bachelor's Degree Program is a 9 months (Top-Up), (9-18) Months, 3-4 Years intensive 
                professional university program which focuses on learning by doing. It is designed to teach 
                the knowledge and skills needed to provide pathway for a Higher National Diploma programs, 
                Associate Diploma programs and many career opportunities for graduates in their various 
                specialties.
            </p>       
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="What is a Bachelor's degree ?">
                    <p> 
                        In Cameroon, a bachelor’s degree is a certificate issued to university graduates after the 
                        completion of a 3 years of studies in a particular course. Bachelor’s degree was first intoduced 
                        in 2007 by some Cameroon education thinkers like Titanji, Tchombe, Nnane.
                    </p>
                    <p>
                        In Cameron the 2 main types of bachelors degrees that exist are  Bachelors of Science (bsc) 
                        and Bachelors in technology (btech).
                    </p>
                    <p>
                        A bachelor’s degree is more than an HND  certificate. Bachelor’s degree focuses on learning by doing. 
                        At this stage you are learning critical thinking, analyzing and mastering of your domain or field knowledge.
                        The program is intense and intertwined with practical training to compensate for the gap in 
                        working experience that is always absent from the Curriculum Vitae of fresh graduates.
                    </p>
                    <p>
                        You will obtain a Bsc if you deal with a specialty that has to do with sciences like nursing, pharmacy, 
                        management scineces, marketing etc meanwhile Btech is when you do a faculty in engeneering technology like 
                        software engineering, ecommerce technology  and many others.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Why get a Bachelor’s degree ?">
                    <p>
                        <b>It boosts up yourself esteem</b>. When you go to an organization or company for a job and you have a bachelor’s 
                        degree, you are in high self esteem and confidence than someone who has an HND. Also, you will find it 
                        easier talking infront of people and interacting with other people in the active world as you know ypur 
                        in the intellectual level is grown up and you are  of level to talk with them.
                    </p>
                    <p>
                        <b>Provides you with more job opportunities</b>. In most enterprises today recruiters tend to want to choose 
                        someone with a higher educational level that someone with a low educational level. In that line you who 
                        has a bachelor’s degree has much more chances of getting a job over some one who has less than you. Also, 
                        a bachelor degree provides you with the intellectual and professional skills required to accomplish certain tasks.
                    </p>
                    <p>
                        <b>Higher income earnings.</b> Investigations have proven that someone with a higher certification level mostly 
                        if not always tends to have a higher salary than someone with less qualification level. Furthermore you will have 
                        a greater salary if you have a greater certification level.
                    </p>
                    <p>
                        <b>Personal growth.</b> Having a bachelor’s degree is not only for certification purposes but it is also for personal 
                        reasons. A bachelor’s degree will give you the necessary abilities firstly to express infront of people, to 
                        understand company needs better, to manage time better, to understand the professionalworld better and a lot 
                        more of other things.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="how to integrate a Bachelor's degree ?">
                    <p>
                        Enrolment is open to holders of a Bac+2. Students may have :
                    </p>
                    <ul>
                        <li>a BTS (Brevet de Technicien Supérieur)</li>
                        <li>an HND</li>
                        <li>a DUT (University Technology Diploma)</li>
                        <li>a second year of a bachelor's degree</li>
                        <li>a second year of a bachelor's degree</li>
                    </ul>
                    <p>
                        A diploma in a comparable field is also required. Admission is by application, interview and, 
                        in some cases, admission tests. The selection process is tough, not least because of the 
                        limited number of places available.
                    </p>
                    <p>
                        Students are closely supervised and attendance is compulsory. Professional bachelor's degrees 
                        are also open to foreign students, which makes student life even more interesting.
                    </p>
                </p-accordionTab>
            
                <p-accordionTab header="What to do after a bachelor's degree ?">
                    <p>
                        Validation of studies is generally based on continuous assessment, although there may sometimes be an 
                        additional final exam.
                    </p>
                    <p>
                        The majority of graduates have the chance to enter the professional world directly after a 
                        professional bachelor's degree. Whatever your field of study, there are many job opportunities after a licence pro.
                    </p>
                    <p>
                        However, some may choose to continue their higher education, in particular with a master's or 
                        professional master's degree. It is also possible to take a second professional bachelor's degree to specialize 
                        and acquire dual skills.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="How to choose a good institut for my bachelor's degree ?">
                    <p>
                        You need to choose your degree according to the professional future you want and your personality. 
                        There's no need to turn to a field that doesn't suit you. Here are a few tips to help you make the right choice:
                    </p>
                    <ul>
                        <li>
                            <b>Visualize the opportunities:</b> when choosing a degree, we naturally think of a particular profession. 
                            So it's important to take a close look at the job prospects and the employment rates.
                        </li>
                        <li>
                            <b>Look at the length of your studies:</b> you need to choose your degree carefully, because when you commit to 
                            studying, you're going to spend a lot of time doing it.
                        </li>
                        <li>
                            <b>Evaluate the cost of training:</b> don't waste your time on a business degree if 
                            you want to study law. You'll just lose money.
                        </li>
                    </ul>
                </p-accordionTab>
            </p-accordion>

            <p-card header="List of bachelor's degree" >
                <p-card></p-card>
            </p-card>
            
        </div>
    </div>
    <aside class="side-container">
        <app-side-info></app-side-info>
    </aside>
</div>
<!-- 
<app-info-redaction></app-info-redaction>
<app-interest-list></app-interest-list>
<app-interest-actualite></app-interest-actualite>
<app-interest-avis></app-interest-avis>
<app-interest-classification></app-interest-classification>
 -->

 <app-under-building></app-under-building>