<app-headmsg 
    [titre]="titre"
    [soustitre]="soustitre"
    [photo] = "photo"
    >
</app-headmsg>
<app-start ></app-start>
<div class="container">
    <div class="first-pub">
        <app-pub-first></app-pub-first>
    </div>
    <div class="main-container">
        <app-pub-interest-item *ngFor="let schooli of school$ | async" [school]="schooli"></app-pub-interest-item>
        <div class="redaction-info">   
            <h1>Licence d'Enseignement Universitaire </h1> 
            <p>
                La licence est une formation qui peut s'intégrer directement après l'obtention d'un 
                baccalauréat. Vous obtenez le diplôme au bout de trois années au sein d'un établissement de 
                l'enseignement supérieur. Elle est disponible dans de nombreux domaines et représente un 
                premier pas dans les études supérieures. Camerdiplome vous donne tous les détails sur cette 
                formation et vous aide à trouver celle qui vous correspond ! 
            </p>       
            <p-accordion [activeIndex]="0" [multiple]="true" >
                <p-accordionTab header="Qu'est ce qu'une licence ?">
                    <p> 
                        Une licence est une formation  universitaire qui dure trois  ans, soit six  semestres. 
                        Accessible après le bac, la formation débouche sur l’obtention du diplômenational de licence, 
                        reconnu par l’Etat et de niveau bac +3. La licence est le premier  niveau de diplôme  universitaire, 
                        suivi du master et du doctorat, au sein du système LMD (licence-master-doctorat).
                    </p>
                    <p>
                        Il existe des licences dans à peu près tous les domaines. <b> Littérature</b>, <b>langues étrangères</b>, 
                        <b>arts, philosophie, communication, sport, santé, droit, commerce, histoire-géographie, les sciences…</b> 
                        Cette liste n’est pas exhaustive et il y en a vraiment pour tous les goûts !
                    </p>
                    <p>
                        Les licences peuvent adopter plusieurs formes. Il y a des licences dites « <b>classiques</b> ». Celles-ci peuvent 
                        être <b>monodisciplinaires</b> ou <b>bidisciplinaires</b>, comme les licences mention <b>informatique</b> ou <b>économie-gestion</b>. 
                        Sinon, il y a des licences <b>pluridisciplinaires</b>, comme les mentions <b>langues  étrangères  appliquées (LEA)</b>, 
                        ou encore, <b>administration  économique et sociale (AES)</b>. Il existe également des <b>doubles licences</b>. 
                        Elles permettent aux étudiants d’obtenir deux diplômes de licence, dans deux domaines différents, à l’issue de 
                        la formation. C’est le cas, par exemple, des licences mention <b>droit et histoire de l’art</b> ou <b>droit et sciences 
                        politiques</b>.
                    </p>
                    <hr>

                    <h3>Quelle est la différence entre une licence générale et une licence professionnelle ?</h3>
                    <p>
                        La principale différence entre une <b>licence  générale</b> et une <b>licence professionnelle</b> est la <b>durée</b> de 
                        chacun des cursus. Tandis qu’une <b>licence  générale</b> est prévue pour s’étaler sur <b>trois ans</b>, une <b>licence 
                        pro</b> dure <b>un  an</b>. Une <b>licence  générale</b> est accessible <b>après le bac</b>, alors qu’une licence pro l’est 
                        après une première formation de niveau <b>bac +2</b>, comme un BTS ou un DUT, par exemple.
                    </p>
                    <hr>

                    <h3>Dans quel type d’établissement suivre une licence ?</h3>
                    <p>
                        Les licences sont des formations <b>typiquement universitaires</b>. Elles sont strictement dispensées dans des 
                        <b>universités (privée ou publiques)</b>. D’ailleurs, peu importe l’université dans laquelle vous suivez votre 
                        licence jusqu’à l’obtention du diplôme, ce dernier est censé avoir la même valeur qu’un autre, obtenu ailleurs. 
                    </p>
                    <p>
                        En revanche, le grade de licence (niveau de qualification et reconnaissance), dont bénéficient naturellement les 
                        licences universitaires en tant que formations, peut être accordé par l’État à certaines formations diplômantes 
                        dispensées en IPES (Institut Privé d'Enseignement Supérieur) : les bachelors.
                    </p>
                    <hr>
                    <h3>Quelles sont les spécificités d’une licence ?</h3>
                    <p>
                        Tout d’abord, les licences sont des formations qui <b>privilégient la théorie</b> à la pratique. L’objectif premier 
                        d’une licence est de permettre aux étudiants une <b>poursuite d’études</b> en deuxième cycle, au sein d’un <b>master</b>, 
                        par exemple. <b>Louise</b> est en deuxième année d’une licence en Sociologie à l’université de Yaoundé 1. 
                        Pour elle, la licence lui sert surtout de tremplin pour <b>accéder au master</b> et intégrer le marché 
                        du travail avec un niveau de qualification de bac +5 minimum. « J’ai décidé de m’orienter vers une licence 
                        générale afin d’acquérir des connaissances qui me permettront ensuite de réaliser un <b>master</b> en 
                        <b>relations internationales</b> ou en <b>sciences politiques</b>, par exemple ».
                    </p>
                    <p>
                        Les étudiants en licence acquièrent un savoir applicable vers un ou plusieurs domaines, mais il reste néanmoins 
                        généraliste. Au fur et à mesure de la licence, <b>les étudiants se spécialisent  progressivement</b>. Généralement, 
                        c’est en dernière année (L3) qu’ils choisissent un parcours de spécialité. Cette dernière année spécifique 
                        doit amorcer leur poursuite en master et en annoncer la couleur. En effet, c’est au sein du master qu’ils 
                        précisent davantage leur <b>projet professionnel</b>. 
                    </p>
                    <P>
                        Un autre aspect majeur est la différence qui existe entre l'école et la fac, en matière de <b>pédagogie</b> et d’<b>encadrement</b>.  
                        <b>La liberté</b> est le maître mot, mais attention, pour en faire bon usage, vous devrez être capable d’autonomie et 
                        d’organisation. Les universités sont des établissements qui accueillent beaucoup d’étudiants et tous les 
                        enseignants ne peuvent pas toujours suivre individuellement chacun d’entre eux. 
                    </P>
                    <p>
                        Un autre point, et non des moindres, <b>la mobilité nationale et internationale </b>! Vous voulez changer 
                        d’établissement en cours de route, poursuivre vos études ou trouver du travail dans une autre ville ou à l’étranger ? 
                        Le système LMD (licence-master-doctorat) est une référence au <b>Cameroun</b>, en <b>Afrique</b> et dans le <b>monde</b> pour attester 
                        d’un niveau d’études. Le <b>système de crédits</b>  facilite également la réorientation vers d’autres licences, 
                        notamment grâce à des <b>passerelles</b>. Ainsi, si vous intégrez une licence mention économie et gestion en première 
                        année et que vous voulez poursuivre au sein d’une licence qui vous plait davantage, mais proche, vous pourrez 
                        intégrer directement la deuxième année d’une licence de droit. Il en est de même si vous vous rendez compte que 
                        votre licence ne vous convient pas dès le premier semestre. Le changement pourra être effectué dès le deuxième semestre.
                    </p>

                    <hr>
                    <h3>Quelle est la durée des études en Licence ?</h3>
                    <p>
                        Une licence est prévue pour être dispensée en trois ans. La formation s’organise alors en six  semestres.
                    </p>
                    <p>
                        À noter également que la durée d’une licence peut être allongée, notamment si vous redoublez une ou plusieurs années. 
                    </p>
                    <p>

                    </p>
                </p-accordionTab>
                <p-accordionTab header="Quel est le programme en licence ?">
                    <p>
                        Il existe plusieurs  mentions de licence : sciences politiques, sciences de l’éducation, théologie, 
                        physique... Selon la spécialité, le programme n’est évidemment pas le même. Toujours est-il que les 
                        licences prévoient une spécialisation  progressive des étudiants. Ils ont le choix entre plusieurs  
                        parcours au sein d’une même licence, généralement dès la deuxième ou la dernière  année. La première  
                        année est une année de tronc  commun. 
                    </p>
                    <p>
                        Les licences se veulent <b>particulièrement théoriques</b>. Les étudiants y acquièrent toutes les connaissances 
                        nécessaires pour évoluer dans un secteur d’activités donné. Ils y développent leur culture  générale autour de 
                        ce domaine, diverses méthodologies, des connaissances transversales, comme la maîtrise d’une langue vivante 
                        étrangère ou encore de certains outils informatiques, par exemple.
                    </p>
                    <p>
                        Ces compétences sont transmises lors de <b>cours magistraux</b> (CM), <b>travaux pratiques</b> (TP) et 
                        <b>travaux dirigés</b> (TD). La pédagogie mêle alors, tant bien que mal, <b>théorie et pratique</b>. 
                        Plusieurs établissements inscrivent au programme de leurs licences des travaux de groupe en mode <b>projet</b>. 
                        Ils constituent des simulations de mises en situation professionnelles. Pour élargir leurs connaissances, 
                        les étudiants en licence peuvent également avoir le choix d’assister à des <b>séminaires</b>, des 
                        <b>forums  professionnels</b>, des <b>colloques</b>, etc
                    </p>
                    <p>
                        Il n’est pas non plus rare d’être amené à réaliser un stage en entreprise ou un mémoire de recherche, 
                        au cours d’une licence, notamment en deuxième ou dernière année. 
                    </p>

                    <hr>
                    <h3>Quel est le rythme de travail en licence ?</h3>
                    <p>
                        En licence, les étudiants ont généralement entre 20 et 30  heures de cours chaque semaine. 
                    </p>
                    <p>
                        Les emplois du temps peuvent être modulables en fonction des différentes options que vous choisissez. 
                        Il peut aussi arriver que la semaine de cours ne soit pas répartie équitablement sur chaque jour. 
                        Vous pourriez vous retrouver, par exemple, avec deux heures de cours le mercredi et huit de cours le jeudi. 
                    </p>
                    <p>
                        À vous, alors, de bien vous organiser et de ne pas oublier de <b>travailler régulièrement</b>. Vous pouvez avoir 
                        beaucoup de temps libre, ce qui peut aussi vous permettre d’avoir un <b>job  étudiant</b> à côté, ou de développer 
                        votre <b>activité créative</b>, par exemple. Julie est en licence Biosciences à l’université de Yaoundé 1. 
                        Ce qui l’a plus surpris, une fois arrivée à l’université, est la <b>charge de travail </b>: « Pour faire face au travail 
                        personnel conséquent qu’on doit fournir, le mieux est de savoir <b>être organisé et surtout d’être assidu</b> ».
                    </p>
                    
                    <hr>
                    <h3>Comment s’organise la validation des études ?</h3>
                    <p>
                        En général, chaque fin de semestre en licence est ponctuée par des évaluations  finales (partiels) dans chaque 
                        matière. Au fil des semaines, les étudiants peuvent aussi être notés, avant même la fin du semestre. Par exemple, 
                        la participation en cours peut faire l’objet d’une note chaque semaine, ou alors, des exposés peuvent être 
                        comptés dans la moyenne. C’est ce que l’on appelle le contrôle  continu. En principe, ces deux systèmes de 
                        notation sont cumulés. 
                    </p>
                    <p>
                        Chaque matière doit être validée : c’est-à-dire que vous devez <b>obtenir une moyenne d’au moins 10/20</b> dans chacune. 
                        Une fois toutes les matières réussies, vous obtenez votre semestre. Dans certaines universités, il existe un système 
                        de compensation. Il vous permet de valider une année en ayant seulement obtenu la moyenne pour un semestre et non 
                        les deux. La <b>compensation</b> pour valider un semestre sans avoir obtenu la moyenne dans toutes les matières existe aussi. 
                        À noter également qu’il existe des <b>rattrapages</b> pour tenter de valider son année !
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment entrer en licence ?">
                    <p>
                        En général, une licence est intégrée après avoir obtenu le baccalauréat. Les professionnels ont aussi la 
                        possibilité d’intégrer une licence, en formation continue ou alors d’en valider une, via plusieurs dispositifs.
                    </p>
                    <p>
                        Il est aussi possible d’intégrer la <b>deuxième ou troisième année</b> d’une licence, notamment après avoir validé 
                        la première  année d’une formation supérieure ou alors une formation de niveau bac  +2, par exemple. 
                    </p>

                    <hr>
                    <h3>Quel niveau d’études pour entrer en licence ?</h3>
                    <p>
                        Pour beaucoup, les licences représentent des portes d’entrée vers l’enseignement  supérieur. 
                        De fait, l’admission est ouverte aux bacheliers ou titulaires d’un autre diplôme  équivalent. 
                        Aucune filière particulière du baccalauréat n’est plus conseillée qu’une autre. Bien sûr, selon 
                        la mention de licence que vous voulez intégrer, vous pourrez avoir plus de choses à mettre en avant 
                        si vous êtes issus d’une filière du bac précise, avec des spécialités et expériences liées. Par exemple, 
                        si vous avez choisi l’option physique-chimie au lycée et que vous visez une entrée en licence bidisciplinaire 
                        de physique et chimie, votre candidature n’en pourra qu’être boostée. 
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Que faire après une licence ?">
                    <p>
                        Les licences ont pour première vocation la poursuite d’études supérieures, notamment au sein d’une formation 
                        de niveau de sortie bac +5. Toutefois, certaines professions sont accessibles après une licence générale.
                    </p>
                    <hr>
                    <h3>Quelles poursuites d’études après une licence ?</h3>
                    <p>
                        Une fois votre diplôme de licence obtenu, vous pouvez faire le choix d’intégrer un master. À la suite de celui-ci, 
                        vous pourrez poursuivre en doctorat ou alors, intégrer le marché du travail.
                    </p>
                    <p>
                        Vous pouvez également envisager de vous spécialiser avec un MBA (Master of Business Administration), dispensé 
                        notamment au sein des écoles privées. On trouve généralement des MBA dans les domaines du commerce, du digital 
                        ou de la communication.
                    </p>
                    <p>
                        Il existe aussi des mastères : des formations en deux ans, conférant un niveau de qualification bac +5, 
                        notamment grâce à un titre professionnel inscrit au RNCP. Ces cursus sont dispensés dans des écoles spécialisées 
                        et peuvent concerner tous les domaines, du tourisme à l’animation 3d, en passant par le management du sport, 
                        par exemple.
                    </p>
                    <p>
                        Les étudiants titulaires d’une licence peuvent aussi préparer les concours des écoles d’ingénieurs 
                        ou des écoles de commerce.
                    </p>
                    <p>
                        Si vous voulez booster votre compétitivité sur le marché de l’emploi, en vue de l’intégrer rapidement, 
                        vous pouvez intégrer une licence  professionnelle, en un an.
                    </p>
                    <hr>
                    <h3>Quels débouchés métiers après une licence ?</h3>
                    <p>
                        Le diplôme de licence garantit une insertion  professionnelle  très  variable, notamment en fonction du domaine 
                        et de la spécialisation et de la taille de l’entreprise qui recrute. Les profils juniors que recherchent 
                        les entreprises sont en général issus d’une formation bac +2 au minimum. Cependant, avec votre licence en 
                        poche, vous pourrez toujours accéder à certains postes. Vous pourrez notamment être assistant  dans 
                        la gestion, la comptabilité, la communication, les ressources  humaines, l’édition, etc. 
                    </p>
                    <p>
                        Les métiers de la fonction publique recrutent beaucoup de profils issus d’une formation bac +3, après 
                        qu’ils aient réussi un des concours de l’Etat, des collectivités territoriales ou du secteur  hospitalier, 
                        sanitaire et social.  Voici quelques exemples de métiers de la fonction publique accessible après une 
                        licence générale : 
                    </p>
                    <ul>
                        <li>Administrateur territorial</li>
                        <li>Officier de police</li>
                        <li>Infirmier</li>
                        <li>etc.</li>
                    </ul>
                    <p>
                        Par exemple, Louis effectue une licence d’histoire à l’université de Dschang. Ce qui l’a attiré vers cette licence 
                        est sa passion pour l’histoire, cependant, il constate un manque de débouchés professionnels, à bac +3, dans le 
                        domaine. « Après ma licence d’histoire, j’aimerais intégrer la police nationale, après avoir réussi un concours 
                        de la fonction publique ».
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Comment choisir une licence qui me correspond ?">
                    <p>
                        il faut choisir sa licence en fonction de l’avenir professionnel que l’on souhaite et de sa personnalité. 
                        Nul besoin de se tourner vers un domaine qui ne nous convient pas. Pour se faire, voici quelques astuces 
                        pour bien faire son choix :
                    </p>
                    <ul>
                        <li><b>Visualiser les débouchés :</b> au moment de choisir sa licence, on pense bien entendu à un métier en 
                            particulier. Il faut donc bien voir quels sont les débouchés et les taux d’insertion.</li>
                        <li>
                            <b>Voir la durée des études :</b> il faut bien choisir sa licence, car lorsqu’on s’engage à faire des études, 
                            on va y passer du temps.
                        </li>
                        <li>
                            <b>Évaluer le coût de la formation :</b> ne perdez pas votre temps dans une licence de commerce si vous voulez 
                            faire du droit. Vous allez juste perdre de l’argent.
                        </li>
                        <li>
                            <b>Compter sur ses goûts :</b> un étudiant qui choisit sa filière en fonction de ce qui l’intéresse sera plus 
                            investi dans ce qu’il fera et sera plus enclin à réussir.
                        </li>
                        <li>
                            <b></b>Penser à sa manière de travailler : il est important de choisir un domaine passionnant. Car à l’université, 
                            les profs n’ont pas le temps de se focaliser sur un étudiant. Il faut donc de la rigueur, de l’autonomie 
                            et de la passion.
                        </li>
                    </ul>
                </p-accordionTab>
            </p-accordion>

            <p-card header="Liste des licences au Cameroun" >
                <p-card></p-card>
            </p-card>
            
        </div>
    </div>
    <aside class="side-container">
        <app-side-info></app-side-info>
    </aside>
</div>
<!-- 
<app-info-redaction></app-info-redaction>
<app-interest-list></app-interest-list>
<app-interest-actualite></app-interest-actualite>
<app-interest-avis></app-interest-avis>
<app-interest-classification></app-interest-classification>
 -->
